* {
	padding :0;
	margin: 0;
	box-sizing: border-box;
}
.list-box {
	margin: 50px auto;
	width: 960px;
}
ul {
	list-style: none;
}
 li{
	padding: 20px 0 20px 20px;
}
 li:nth-child(odd) {
	background-color: #f2f2f2;
}
.box-item {
	margin: 0 auto;
	width: 960px;
}
.box {
	width: 30%;
	height: 200px;
	float: left;
}
.box:nth-child(1) {
	background-color: orange;
	margin-right: 5%;
	margin-bottom: 40px;
}
.box:nth-child(2) {
	background-color: yellow;
	margin-right: 5%;
	margin-bottom: 40px;
}
.box:nth-child(3) {
	background-color: yellow;
	margin-right: ;
	margin-bottom: 40px;
}
.box:nth-child(4) {
	background-color: yellow;
	margin-right: 5%;
	margin-bottom: 40px;
}
.box:nth-child(5) {
	background-color: orange;
	margin-right: 5%;
	margin-bottom: 40px;
}
.box:nth-child(6) {
	background-color: yellow;
	margin-right: ;
	margin-bottom: 40px;
}
.box:nth-child(7) {
	background-color: yellow;
	margin-right: 5%;
	margin-bottom: 50px;
}
.box:nth-child(8) {
	background-color: yellow;
	margin-right: 5%;
	margin-bottom: 50px;
}
.box:nth-child(9) {
	background-color: orange;
	margin-right: ;
	margin-bottom: 50px;
}